@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    /* primary */
    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);

    /* neutral */
    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
}

@layer base{
    html{
        font-family: 'Public Sans', sans-serif;
    }

    body{
        /* font-size: 18px; */
    }

    h1{
        @apply text-2xl;
    }

    h2{
        @apply text-xl;
    }

    h3{
        @apply text-lg
    }
}

@layer components{
   .btn{
       @apply text-sm w-40 h-10 rounded-full font-bold bg-gradient-to-r from-lime-green to-bright-cyan text-white;
   }

   .info-item{
       @apply h-[260px] flex flex-col items-center justify-evenly;
   }

   .info-hdng{
       @apply text-[20px] hdng-color;
   }

   .section-card{
       @apply mb-6;
   }

   .section-card-img{
       @apply rounded-t-md;
   }

   .section-card-text-group{
       @apply h-[200px] flex flex-col justify-center px-[27.5px];
   }

   .section-card-caption{
       @apply text-[12px] mb-1 text-grayish-blue;
   }

   .section-card-headline{
       @apply text-[17px] mb-2 text-dark-blue;
   }

   .section-card-text{
       @apply text-grayish-blue text-[13.5px];
   }
}

@layer utilities{
   .border {
        @apply border-[1px] border-solid border-gray-700;
    }

    .hdng-color {
        @apply text-dark-blue
    }
}

