@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    /* primary */
    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);

    /* neutral */
    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
}

@layer base{
    html{
        font-family: 'Public Sans', sans-serif;
    }
    @media screen(2xl){
        html{
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }

    @media screen(2xl){
        body{
            width: 1536px;
        }
    }
    h1{
        @apply text-2xl;
    }

    h2{
        @apply text-xl;
    }

    h3{
        @apply text-lg
    }
}

@layer components{
   .btn{
       @apply text-sm w-40 h-10 rounded-full font-bold bg-gradient-to-r from-lime-green to-bright-cyan text-white;
   }

   .info-group{
    @apply lg:flex lg:justify-around xl:justify-center;
   }    

   .info-item{
       @apply h-[260px] lg:h-[350px] flex flex-col items-center lg:items-start lg:text-left  justify-evenly md:px-[150px] lg:px-0;
   }

   .info-svg{
       @apply w-[75px];
   }

   .info-hdng{
       @apply text-[20px] md:text-[22px] hdng-color;
   }

   .info-item-text{
       @apply md:text-[18px] text-grayish-blue lg:w-[200px] ;
   }

   .section-card{
       @apply mb-6;
   }

   .section-card-img{
       @apply rounded-t-md md:w-full lg:w-[200px] xl:w-[250px] lg:mx-auto;
   }

   .section-card-text-group{
       @apply h-[200px] flex flex-col justify-center px-[27.5px];
   }

   .section-card-caption{
       @apply text-[12px] md:text-[20px] lg:text-[12px] mb-1 text-grayish-blue;
   }

   .section-card-headline{
       @apply text-[17px] md:text-[20px] lg:text-[17px] mb-2 text-dark-blue hover:text-bright-cyan cursor-pointer;
   }

   .section-card-text{
       @apply text-grayish-blue text-[13.5px] md:text-[20px] lg:text-[13.5px];
   }

   .header-nav-hover-after:hover{
       @apply relative pb-6 after:content-[''] after:absolute after:h-1 after:left-0 after:bottom-0 after:bg-gradient-to-r after:from-lime-green after:to-bright-cyan
   }
}

@layer utilities{
   .border {
        @apply border-[1px] border-solid border-red-700;
    }

    .hdng-color {
        @apply text-dark-blue
    }
}

